@import '../utils/variables';
.header{    
    background-color: getColor('first-bg');   
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid getColor('header-border');

    &--right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
