@import '../utils/variables';

.tel{
    text-decoration: none;
    font-size: 14;
    letter-spacing: 0.02em;
    color: getColor('main-text');
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &__icon{    
        width: 10px;
        height: 16px;
        margin-right: 10px;
        padding: 0;
        fill: getColor('main-text');
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &:hover,
    &:focus{
        color: getColor('hover');
        .tel__icon{
            fill: getColor('hover');
        }
    }
}